---
layout: master
title: Ремонт от Бари - Москва - 8 (925) 251-18-15
---
<!-- SLIDER -->
 <div class="slider-1 clearfix">
   
     <div class="flex-container">
       <div class="flexslider loading">
        <ul class="slides">
            {% include slide.html top="Частная бригада" bottom="Работаем более 10 лет" bg="images/sliders/slider-1/slider-bg-1.jpg" item="images/sliders/slider-1/slider-item-1.png" %}

            {% include slide.html top="Под ключ" bottom="Отделка квартир, коттеджей, офисов" bg="images/sliders/slider-1/slider-bg-2.jpg" %}
          
            {% include slide.html top="Любые Ваши мечты" bottom="От эконом до люкс-класса" bg="images/sliders/slider-1/slider-bg-3.jpg" item="images/sliders/slider-1/slider-item-2.png" %}
        </ul>
       </div>
      </div>
     
   </div><!-- End slider -->

	
<!-- 3 BLOCKS (1 ver) -->
	<div class="container clearfix m-bot-35 min-m-top-75">
		<div class="sixteen columns m-bot-15">
		<!-- BLOCK -->
			<div class="block-4-col m-bot-20 ca-menu">
				<div class="block-0-content-container">
						<div class="block-text">
                            МЫ<br>
							<strong>ДЕЛАЕМ</strong>
						</div>
				</div>		
			</div>
       
       {% include icon_text.html top="Ремонт, строительство, отделка" bottom="Квартир, коттеджей, офисов" icon="icon-gears" num="1" %}
       {% include icon_text.html top="Дизайн-проект с визаулизацией интерьера" bottom="По желанию заказчика" icon="icon-comp" num="2" %}
       {% include icon_text.html top="Подборка финишных материалов" bottom="Составление сметы по этапам" icon="icon-plane" num="3" %}


		</div>
	</div>
	
</div>	<!-- Grey bg end -->	

<!-- LATEST WORK -->
	<div class="container clearfix m-top-60">
		<div class="four columns carousel-intro m-bot-33">

						<div class="caption-container m-bot-20">
							<div class="title-block-text">
								НАШИ<br>
								ПОСЛЕДНИЕ<br>
								<strong>РАБОТЫ</strong>
							</div>
							
							<div class="carousel-navi jcarousel-scroll">
								<div class="jcarousel-prev"></div>
								<div class="jcarousel-next"></div>
							</div>
						</div>
			
		</div>

		
		<!-- jCAROUSEL -->
		<div class="jcarousel latest-work-jc m-bot-30" >
			<ul class="clearfix">
				<!-- LATEST WORK ITEM -->
				<li class="four columns">
						<div class="hover-item">
							<div class="view view-first">
								<img src="images/content/port-2-1.jpg" alt="Ipsum" >
								<div class="mask"></div>	
								<div class="abs">
									<a href="images/content/port-2-1.jpg" class="lightbox zoom info"></a><a href="portfolio-single.html" class="link info"></a>
								</div>	
							</div>
							<div class="lw-item-caption-container">
								<a class="a-invert" href="portfolio-single.html" >
									<div class="item-title-main-container clearfix">
										<div class="item-title-text-container">
											<span class="bold">Lorem</span> Ipsum
										</div>
									</div>
								</a>
								<div class="item-caption">web design</div>
							</div>
						</div>
				</li>

				<!-- LATEST WORK ITEM -->
				<li class="four columns">
						<div class=" hover-item">
							<div class="view view-first">
								<img src="images/content/port-2-2.jpg" alt="Ipsum" >
								<div class="mask"></div>
								<div class="abs">
									<a href="images/content/port-2-2.jpg" class="lightbox zoom info"></a><a href="portfolio-single.html" class="link info"></a>
								</div>	
							</div>
							<div class="lw-item-caption-container">
								<a class="a-invert" href="portfolio-single.html" >
									<div class="item-title-main-container clearfix">
										<div class="item-title-text-container">
											<span class="bold">Lorem</span> Ipsum
										</div>
									</div>
								</a>
								<div class="item-caption">photography</div>
							</div>
						</div>
				</li>

				<!-- LATEST WORK ITEM -->
				<li class="four columns">
						<div class=" hover-item">
							<div class="view view-first">
								<img src="images/content/port-2-3.jpg" alt="Ipsum" >
								<div class="mask"></div>
								<div class="abs">
									<a href="images/content/port-2-3.jpg" class="lightbox zoom info"></a><a href="portfolio-single.html" class="link info"></a>
								</div>	
							</div>
							<div class="lw-item-caption-container">
								<a class="a-invert" href="portfolio-single.html" >
									<div class="item-title-main-container clearfix">
										<div class="item-title-text-container">
											<span class="bold">Lorem</span> Ipsum
										</div>
									</div>
								</a>
								<div class="item-caption">illustration</div>
							</div>
						</div>
				</li>

				<!-- LATEST WORK ITEM -->
				<li class="four columns">
						<div class="hover-item">
							<div class="view view-first">
								<img src="images/content/port-2-4.jpg" alt="Ipsum" >
								<div class="mask"></div>
								<div class="abs">
									<a href="images/content/port-2-4.jpg" class="lightbox zoom info"></a><a href="portfolio-single.html" class="link info"></a>
								</div>	
							</div>
							<div class="lw-item-caption-container">
								<a class="a-invert" href="portfolio-single.html" >
									<div class="item-title-main-container clearfix">
										<div class="item-title-text-container">
											<span class="bold">Lorem</span> Ipsum
										</div>
									</div>
								</a>
								<div class="item-caption">web design</div>
							</div>
						</div>
				</li>

				<!-- LATEST WORK ITEM -->
				<li class="four columns">
						<div class=" hover-item">
							<div class="view view-first">
								<img src="images/content/port-2-5.jpg" alt="Ipsum" >
								<div class="mask"></div>
								<div class="abs">
									<a href="images/content/port-2-5.jpg" class="lightbox zoom info"></a><a href="portfolio-single.html" class="link info"></a>
								</div>	
							</div>
							<div class="lw-item-caption-container">
								<a class="a-invert" href="portfolio-single.html" >
									<div class="item-title-main-container clearfix">
										<div class="item-title-text-container">
											<span class="bold">Lorem</span> Ipsum
										</div>
									</div>
								</a>
								<div class="item-caption">web design</div>
							</div>
						</div>
				</li>

				<!-- LATEST WORK ITEM -->
				<li class="four columns">
						<div class=" hover-item">
							<div class="view view-first">
								<img src="images/content/port-2-6.jpg" alt="Ipsum" >
								<div class="mask"></div>
								<div class="abs">
									<a href="images/content/port-2-6.jpg" class="lightbox zoom info"></a><a href="portfolio-single.html" class="link info"></a>
								</div>	
							</div>
							<div class="lw-item-caption-container">
								<a class="a-invert" href="portfolio-single.html" >
									<div class="item-title-main-container clearfix">
										<div class="item-title-text-container">
											<span class="bold">Lorem</span> Ipsum
										</div>
									</div>
								</a>
								<div class="item-caption">web design</div>
							</div>
						</div>
				</li>
				
				<!-- LATEST WORK ITEM -->
				<li class="four columns">
						<div class=" hover-item">
							<div class="view view-first">
								<img src="images/content/port-2-7.jpg" alt="Ipsum" >
								<div class="mask"></div>
								<div class="abs">
									<a href="images/content/port-2-7.jpg" class="lightbox zoom info"></a><a href="portfolio-single.html" class="link info"></a>
								</div>	
							</div>
							<div class="lw-item-caption-container">
								<a class="a-invert" href="portfolio-single.html" >
									<div class="item-title-main-container clearfix">
										<div class="item-title-text-container">
											<span class="bold">Lorem</span> Ipsum
										</div>
									</div>
								</a>
								<div class="item-caption">web design</div>
							</div>
						</div>
				</li>

				<!-- LATEST WORK ITEM -->
				<li class="four columns">
						<div class=" hover-item">
							<div class="view view-first">
								<img src="images/content/port-2-8.jpg" alt="Ipsum" >
								<div class="mask"></div>
								<div class="abs">
									<a href="images/content/port-2-8.jpg" class="lightbox zoom info"></a><a href="portfolio-single.html" class="link info"></a>
								</div>	
							</div>
							<div class="lw-item-caption-container">
								<a class="a-invert" href="portfolio-single.html" >
									<div class="item-title-main-container clearfix">
										<div class="item-title-text-container">
											<span class="bold">Lorem</span> Ipsum
										</div>
									</div>
								</a>
								<div class="item-caption">web design</div>
							</div>
						</div>
				</li>
			</ul>
		</div>
		<!-- jCAROUSEL End -->
	</div>	
<!-- OUR PROJECTS End -->


