---
layout: master
title: Xindex
---
<!-- SLIDER -->
 <div class="slider-1 clearfix">
   
     <div class="flex-container">
       <div class="flexslider loading">
        <ul class="slides">
            {% include slide.html top="1" bottom="2" bg="images/sliders/slider-1/slider-bg-1.jpg" item="images/sliders/slider-1/slider-item-1.png" %}

            {% include slide.html top="xLOREM IPSUM" bottom="CRAS JUSTO ODIO, DAPIBUS AC FACILISIS" bg="images/sliders/slider-1/slider-bg-2.jpg" %}
          
            {% include slide.html top="ales3" bottom="cras js" bg="images/sliders/slider-1/slider-bg-3.jpg" item="images/sliders/slider-1/slider-item-2.png" %}
        </ul>
       </div>
      </div>
     
   </div><!-- End slider -->

	
<!-- 3 BLOCKS (1 ver) -->
	<div class="container clearfix m-bot-35 min-m-top-75">
		<div class="sixteen columns m-bot-15">
		<!-- BLOCK -->
			<div class="block-4-col m-bot-20 ca-menu">
				<div class="block-0-content-container">
						<div class="block-text">
                            WE PROVIDE<br>
							AWESOME DIGITAL<br>
							<strong>SERVICES</strong>
						</div>
				</div>		
			</div>
		<!-- BLOCK -->
			<div class="block-4-col m-bot-20 ca-menu">
				<div class="block-1-content-container">
					<a class=" clearfix" href="#">
						<div class="ca-icon">
							<img src="images/icon-comp.png" alt="icon-comp">
						</div>
						<div class="ca-content">
							<h2 class="ca-main">RESPONSIVE TEMPLATE</h2>
							<h3 class="ca-sub">Sed ut perspiciatis unde omnis iste natus error sit.</h3>
						</div>
					</a>	
				</div>		
			</div>
			
		<!-- BLOCK -->
			<div class="block-4-col m-bot-20 ca-menu">
				<div class="block-2-content-container">
					<a class=" clearfix" href="#">
						<div class="ca-icon">
							<img src="images/icon-gears.png" alt="icon-gears">
						</div>
						<div class="ca-content">
							<h2 class="ca-main">EASY TO CUSTOMIZE</h2>
							<h3 class="ca-sub">Sed ut perspiciatis unde omnis iste natus error sit.</h3>
						</div>
					</a>	
				</div>		
			</div>
		<!-- BLOCK -->
			<div class="block-4-col m-bot-20 ca-menu">
				<div class="block-3-content-container">
					<a class=" clearfix" href="#">
						<div class="ca-icon">
							<img src="images/icon-plane.png" alt="icon-plane">
						</div>
						<div class="ca-content">
							<h2 class="ca-main">RETINA READY</h2>
							<h3 class="ca-sub">Sed ut perspiciatis unde omnis iste natus error sit.</h3>
						</div>
					</a>	
				</div>		
			</div>
			

		</div>
	</div>
	
</div>	<!-- Grey bg end -->	

<!-- LATEST WORK -->
	<div class="container clearfix m-top-60">
		<div class="four columns carousel-intro m-bot-33">

						<div class="caption-container m-bot-20">
							<div class="title-block-text">
								THIS IS THE LIST OF<br>
								OUR RECENT<br>
								<strong>WORKS</strong>
							</div>
							
							<div class="carousel-navi jcarousel-scroll">
								<div class="jcarousel-prev"></div>
								<div class="jcarousel-next"></div>
							</div>
						</div>
			
		</div>

		
		<!-- jCAROUSEL -->
		<div class="jcarousel latest-work-jc m-bot-30" >
			<ul class="clearfix">
				<!-- LATEST WORK ITEM -->
				<li class="four columns">
						<div class="hover-item">
							<div class="view view-first">
								<img src="images/content/port-2-1.jpg" alt="Ipsum" >
								<div class="mask"></div>	
								<div class="abs">
									<a href="images/content/port-2-1.jpg" class="lightbox zoom info"></a><a href="portfolio-single.html" class="link info"></a>
								</div>	
							</div>
							<div class="lw-item-caption-container">
								<a class="a-invert" href="portfolio-single.html" >
									<div class="item-title-main-container clearfix">
										<div class="item-title-text-container">
											<span class="bold">Lorem</span> Ipsum
										</div>
									</div>
								</a>
								<div class="item-caption">web design</div>
							</div>
						</div>
				</li>

				<!-- LATEST WORK ITEM -->
				<li class="four columns">
						<div class=" hover-item">
							<div class="view view-first">
								<img src="images/content/port-2-2.jpg" alt="Ipsum" >
								<div class="mask"></div>
								<div class="abs">
									<a href="images/content/port-2-2.jpg" class="lightbox zoom info"></a><a href="portfolio-single.html" class="link info"></a>
								</div>	
							</div>
							<div class="lw-item-caption-container">
								<a class="a-invert" href="portfolio-single.html" >
									<div class="item-title-main-container clearfix">
										<div class="item-title-text-container">
											<span class="bold">Lorem</span> Ipsum
										</div>
									</div>
								</a>
								<div class="item-caption">photography</div>
							</div>
						</div>
				</li>

				<!-- LATEST WORK ITEM -->
				<li class="four columns">
						<div class=" hover-item">
							<div class="view view-first">
								<img src="images/content/port-2-3.jpg" alt="Ipsum" >
								<div class="mask"></div>
								<div class="abs">
									<a href="images/content/port-2-3.jpg" class="lightbox zoom info"></a><a href="portfolio-single.html" class="link info"></a>
								</div>	
							</div>
							<div class="lw-item-caption-container">
								<a class="a-invert" href="portfolio-single.html" >
									<div class="item-title-main-container clearfix">
										<div class="item-title-text-container">
											<span class="bold">Lorem</span> Ipsum
										</div>
									</div>
								</a>
								<div class="item-caption">illustration</div>
							</div>
						</div>
				</li>

				<!-- LATEST WORK ITEM -->
				<li class="four columns">
						<div class="hover-item">
							<div class="view view-first">
								<img src="images/content/port-2-4.jpg" alt="Ipsum" >
								<div class="mask"></div>
								<div class="abs">
									<a href="images/content/port-2-4.jpg" class="lightbox zoom info"></a><a href="portfolio-single.html" class="link info"></a>
								</div>	
							</div>
							<div class="lw-item-caption-container">
								<a class="a-invert" href="portfolio-single.html" >
									<div class="item-title-main-container clearfix">
										<div class="item-title-text-container">
											<span class="bold">Lorem</span> Ipsum
										</div>
									</div>
								</a>
								<div class="item-caption">web design</div>
							</div>
						</div>
				</li>

				<!-- LATEST WORK ITEM -->
				<li class="four columns">
						<div class=" hover-item">
							<div class="view view-first">
								<img src="images/content/port-2-5.jpg" alt="Ipsum" >
								<div class="mask"></div>
								<div class="abs">
									<a href="images/content/port-2-5.jpg" class="lightbox zoom info"></a><a href="portfolio-single.html" class="link info"></a>
								</div>	
							</div>
							<div class="lw-item-caption-container">
								<a class="a-invert" href="portfolio-single.html" >
									<div class="item-title-main-container clearfix">
										<div class="item-title-text-container">
											<span class="bold">Lorem</span> Ipsum
										</div>
									</div>
								</a>
								<div class="item-caption">web design</div>
							</div>
						</div>
				</li>

				<!-- LATEST WORK ITEM -->
				<li class="four columns">
						<div class=" hover-item">
							<div class="view view-first">
								<img src="images/content/port-2-6.jpg" alt="Ipsum" >
								<div class="mask"></div>
								<div class="abs">
									<a href="images/content/port-2-6.jpg" class="lightbox zoom info"></a><a href="portfolio-single.html" class="link info"></a>
								</div>	
							</div>
							<div class="lw-item-caption-container">
								<a class="a-invert" href="portfolio-single.html" >
									<div class="item-title-main-container clearfix">
										<div class="item-title-text-container">
											<span class="bold">Lorem</span> Ipsum
										</div>
									</div>
								</a>
								<div class="item-caption">web design</div>
							</div>
						</div>
				</li>
				
				<!-- LATEST WORK ITEM -->
				<li class="four columns">
						<div class=" hover-item">
							<div class="view view-first">
								<img src="images/content/port-2-7.jpg" alt="Ipsum" >
								<div class="mask"></div>
								<div class="abs">
									<a href="images/content/port-2-7.jpg" class="lightbox zoom info"></a><a href="portfolio-single.html" class="link info"></a>
								</div>	
							</div>
							<div class="lw-item-caption-container">
								<a class="a-invert" href="portfolio-single.html" >
									<div class="item-title-main-container clearfix">
										<div class="item-title-text-container">
											<span class="bold">Lorem</span> Ipsum
										</div>
									</div>
								</a>
								<div class="item-caption">web design</div>
							</div>
						</div>
				</li>

				<!-- LATEST WORK ITEM -->
				<li class="four columns">
						<div class=" hover-item">
							<div class="view view-first">
								<img src="images/content/port-2-8.jpg" alt="Ipsum" >
								<div class="mask"></div>
								<div class="abs">
									<a href="images/content/port-2-8.jpg" class="lightbox zoom info"></a><a href="portfolio-single.html" class="link info"></a>
								</div>	
							</div>
							<div class="lw-item-caption-container">
								<a class="a-invert" href="portfolio-single.html" >
									<div class="item-title-main-container clearfix">
										<div class="item-title-text-container">
											<span class="bold">Lorem</span> Ipsum
										</div>
									</div>
								</a>
								<div class="item-caption">web design</div>
							</div>
						</div>
				</li>
			</ul>
		</div>
		<!-- jCAROUSEL End -->
	</div>	
<!-- OUR PROJECTS End -->


