<!-- FOOTER -->
	<footer>
		<div class="footer-copyright-bg">
			<div class="container ">
				<div class="sixteen columns clearfix">
					<div class="footer-menu-container">
						<nav class="clearfix" id="footer-nav">
							<ul class="footer-menu">
								<li><a href="index-2.html">Home</a></li>
								<li><a href="elements.html">Features</a></li>
								<li><a href="portfolio.html">Portfolio</a></li>
								<li><a href="blog.html">Blog</a></li>
								<li><a href="contact.html">Contact</a></li>
								<li><a href="#">Purchase</a></li>
							</ul>
						</nav>
					</div>	
					<div class="footer-copyright-container right-text">
					&copy; Solan<span class="yellow">a</span> - Build with Passion by <a class="author" href="http://themeforest.net/user/abcgomel/portfolio">AbcGomel</a>
					</div>
				</div>
				
			</div>
		</div>
	</footer>	
		<p id="back-top">
			<a href="#top" title="Back to Top"><span></span></a>
		</p>
