<!-- HEADER -->
		<header id="header" >
			<div class="container clearfix">
				<div class="sixteen columns header-position">
						<div class="header-container m-top-30 clearfix">
				
							<div class="header-logo-container ">
								<div class="logo-container">	
									<a href="index-2.html" class="logo" rel="home" title="Home">
										<img src="images/logo-retina.png" alt="solana" >
									</a>
								</div>
							</div>

							<div class="header-menu-container right">
								<!-- TOP MENU -->
								<nav id="main-nav">
									<ul class="sf-menu clearfix">
										<li class="current"><a href="index.html">Home</a></li>
										<li><a href="about-us.html">About Us</a></li>
										<li><a href="portfolio3.html">Portfolio</a></li>
										<li ><a href="contact.html">Contact</a></li>
								  </ul>
								</nav>
							</div>
						</div>
				</div>
			</div>

		</header>
